.header__navigation {
  display: flex;
  gap: 50px;
  padding: 0;
  list-style: none;
  justify-content: space-between;
}

.header__navigation-left {
  margin-left: 44px;
  display: flex;
  gap: 20px;
  padding: 0;
}

@media screen and (max-width: 769px) {
  .header__navigation-left {
    display: none;
  }
}

.header__navigation-btn {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-align: right;
  padding: 0;
  margin: 0;
  cursor: pointer;
  text-decoration: none;
  list-style: none;
}

.header__navigation-btn_active {
  font-weight: 500;
}

.header__navigation-btn_menu {
  display: none;
}

.header__navigation-right {
  width: 100px;
  cursor: pointer;
  border-radius: 40px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F4F4F4;
  gap: 7px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  padding: 3px 3px 3px 11px;
}

@media screen and (max-width: 769px) {
  .header__navigation-right {
    display: none;
  }
}

.header__menu {
  display: none;
  cursor: pointer;
  margin-right: 8px;
  margin-top: 1px;
}

@media screen and (max-width: 769px) {
  .header__menu {
    display: block;
  }
}

.header__menu-span {
  display: block;
  width: 28px;
  height: 3px;
  margin: 7px auto;
}
