.header__navigation {
  display: flex;
  gap: 50px;
}
.header__navigation-left {
  display: flex;
  gap: 20px;
}
.header__navigation-btn {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-align: left;
  padding: 0;
  margin: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
}
.header__navigation-right {
  cursor: pointer;
  width: 100px;
  height: 32px;
  border-radius: 40px;
  border: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  padding: 3px 3px 3px 11px;
}
