.navtab__container {
    display: flex;
    justify-content: center;
    background-color: #F5F5F5;
}

.navtab__btn {
    width: 96px;
    height: 36px;
    background-color: #E8E8E8;
    border-style: none;
    margin-right: 10px;
    font-style: medium;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 30px;
}